/* xs < 768 */
@media screen and (max-width: 767px) {
	th, td {
		font-size: 0.9em;
	}
}
/* sm */
@media screen and (min-width: 768px) {
	th, td {
		font-size: 1em;
	}
}
/* md */
@media screen and (min-width: 992px) {
	th, td {
		font-size: 1.2em;
	}
}
/* lg */
@media screen and (min-width: 1200px) {
	th, td {
		font-size: 1.3em;
	}
}

.fileUpload {
	position: relative;
	overflow: hidden;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.menu_element {
	background-color: #4286f4;
	border-radius: 20px;
	padding: 0 !important;
	border: 1px #041838 solid;
}

.header {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.43);
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.43);
	background-color: rgb(15, 66, 170) !important;
}

.header_text {
	color: white !important;
}

.icon_holder {
	padding-top: 65%;
}

.menu_holder {
	/*background-color: pink;*/
	/*width: 15rem;*/
	margin: 0;
}

.menu {
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.43);
	/*border-radius: 10px;*/
}

.menu_active {
	background-color: rgb(244, 102, 16);
	color: white;
}

.menu_text {
	text-align: left;
	padding-top: 1.5%;
	font-size: 60%;
}

.container_custom {
	padding: 0;
}

.left_menu {
	/*padding-right: 0;*/
	
}

.right_menu {
	/*padding-left: 0;*/
	
}

.dp_header {
	position: absolute;
	height: 98%;
	right: 0;
}

.quiz_window {
	
}

.question_heading {
	font-size: xx-large;
}

.question_text {
	font-size: x-large;
}

.option_text {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.43);
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.43);
	border-radius: 10px;
}

.option_active {
	background-color: rgb(87, 195, 234);
	color: white;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.saving{
    margin-bottom: 1rem;
    font-size: 500%;	
    margin-top: -20%;
}

.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}

.backgroud_wall {
  	display: block;
  	top: 0;
  	left: 0;
 	bottom: 0;
 	right: 0;
 	position: absolute;
 	z-index: -1;   
}

.backgroud_image
{
	position: absolute;
	opacity: 0.15;
    bottom: 0;
    height: 300px;
}