<html>
<head>
<title>TCS Kingfisher Day'18</title>
<script src="jquery-3.2.1.slim.min.js"></script>
<script src="popper.min.js"></script>
<link rel="stylesheet" href="bootstrap.min.css">
<script src="bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="index.css">
<link rel="stylesheet" type="text/css" href="cg-busy.css">
<script src="angular.min.js"></script>
<script src="angular-animate.js"></script>
<script src="quiz.js"></script>
<script src="cg-busy.js"></script>
<script src="sockjs.min.js"></script>
<script src="stomp.min.js"></script>
<script src="angular-sanitize.min.js"></script>

<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body ng-app="kfApp">
	<div class="backgroud_wall">
		<img class="backgroud_image" src="logo.png">
	</div>
	</div>
	<div class="container-fluid container_custom"
		ng-controller="kfController" cg-busy="promise">
		<nav
			class="header navbar navbar-light bg-light justify-content-center">
			<a class="navbar-brand header_text" href="#!"><strong>TCS
					Kingfisher Day'18 :: QUIZ event</strong></a>
		</nav>
		<div class="row mt-5 mr-1 ml-1 justify-content-center quiz_window"
			ng-show="showStartQuiz">
			<button ng-click="startQuiz()" class="btn btn-primary btn-lg mt-5">Start
				the quiz</button>
		</div>
		<div class="row mt-4 mr-1 ml-1 justify-content-center quiz_window"
			ng-show="showQuestion">
			<div class="col-12 question_heading">
				<strong>Question #{{currentQuestionData.questionID}}</strong>
			</div>
			<div class="col-12 question_text mt-3"
				ng-bind-html="currentQuestionData.questionText"></div>
			<div class="col-10 option_text mt-3 p-1 pl-2">{{currentQuestionData.optionA}}</div>
			<div class="col-10 option_text mt-3 p-1 pl-2">{{currentQuestionData.optionB}}</div>
			<div class="col-10 option_text mt-3 p-1 pl-2">{{currentQuestionData.optionC}}</div>
			<div class="col-10 option_text mt-3 p-1 pl-2">{{currentQuestionData.optionD}}</div>
		</div>
		<div class="row mt-5 mr-1 ml-1 justify-content-center quiz_window"
			ng-show="showResultButton">
			<button ng-click="showResult()" class="btn btn-danger btn-lg mt-5">Show
				Result</button>
		</div>
		<div
			class="row mt-5 mr-1 ml-1 justify-content-center quiz_window option_text"
			ng-show="result">
			<div class="col-10  mt-3 p-1 pl-2">
				Correct answer is <strong>{{resultData.question.optionCorrect}}</strong>
			</div>
			<div class="col-10  mt-3 p-1 pl-2">
				<img class=""
					src="data:image/jpg;base64,{{resultData.winner.photo}}">
			</div>
			<div class="col-10  mt-3 p-1 pl-2">{{resultData.winner.name}}</div>
			<div class="col-10  mt-3 p-1 pl-2">
				{{resultData.winner.emailID}}</div>
			<div class="col-10  mt-3 p-1 pl-2">
				Option A given by <strong>{{resultData.optionPercentage.optionA*100}}%</strong>
			</div>
			<div class="col-10  mt-3 p-1 pl-2">
				Option B given by <strong>{{resultData.optionPercentage.optionB*100}}%</strong>
			</div>
			<div class="col-10  mt-3 p-1 pl-2">
				Option C given by <strong>{{resultData.optionPercentage.optionC*100}}%</strong>
			</div>
			<div class="col-10  mt-3 p-1 pl-2">
				Option D given by <strong>{{resultData.optionPercentage.optionD*100}}%</strong>
			</div>
			<div class="col-10  mt-3 p-1 pl-2" ng-show="resultData.winner==null">
				No one gave the correct answer!</div>
			<button ng-click="startQuiz()" class="btn btn-primary btn-lg mt-5">Next
				Question</button>
		</div>
		<div class="col-10  mt-3 p-1 pl-2" ng-show="quizEnd">
			<strong>!! THE END !!</strong>
		</div>
	</div>
</body>
</html>